* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-nav {
  max-width: 960px;
  margin: 0 auto;
}
.container-nav .nav {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-nav .nav .navlist {
  display: flex;
  gap: 20px;
}
.container-nav .nav .navlist_item {
  list-style: none;
}
.container-nav .nav .navlist_item a {
  text-decoration: none;
}

.ilahe {
  height: 700px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.ilahe .item1 {
  grid-area: 1/1/span 2/span 2;
  background: url("../../images/left-banner-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.ilahe .item1 .mybtn {
  width: 170px;
  height: 30px;
}
.ilahe .item1 h1 {
  font-size: 70px;
  color: white;
}
.ilahe .item1 p {
  font-size: 30px;
  color: white;
}
.ilahe .item2 {
  grid-area: 1/3/span 1/span 1;
  background: url("../../images/baner-right-image-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.ilahe .item2 h1 {
  font-size: 40px;
  color: white;
}
.ilahe .item2 p {
  font-size: 20px;
  color: white;
}
.ilahe .item3 {
  grid-area: 1/4/span 1/span 1;
  background: url("../../images/baner-right-image-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.ilahe .item3 h1 {
  font-size: 40px;
  color: white;
}
.ilahe .item3 p {
  font-size: 20px;
  color: white;
}
.ilahe .item4 {
  grid-area: 2/3/span 1/span 1;
  background: url("../../images/baner-right-image-03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.ilahe .item4 h1 {
  font-size: 40px;
  color: white;
}
.ilahe .item4 p {
  font-size: 20px;
  color: white;
}
.ilahe .item5 {
  grid-area: 2/4/span 1/span 1;
  background: url("../../images/baner-right-image-04.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.ilahe .item5 h1 {
  font-size: 40px;
  color: white;
}
.ilahe .item5 p {
  font-size: 20px;
  color: white;
}
.ilahe .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.ilahe .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  height: 100%;
  margin-left: 100px;
}

.womens-section {
  padding: 100px 0;
}

.container {
  max-width: 1140px;
  margin: auto;
}
.container .upper-text {
  margin-bottom: 60px;
}
.container .upper-text h1 {
  font-size: 50px;
  font-weight: 700;
  color: black;
}
.container .upper-text p {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.288);
  font-weight: 400;
}

.women-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
}
.women-content .fa-arrow-left {
  position: absolute;
  left: -70px;
  padding: 15px;
  border: 1px solid black;
}
.women-content .fa-arrow-right {
  right: -95px;
  position: absolute;
  padding: 15px;
  border: 1px solid black;
}
.women-content .content {
  overflow: hidden;
}
.women-content .content .content-image {
  position: relative;
}
.women-content .content .rate {
  display: flex;
  justify-content: space-between;
}
.women-content .content .rate h1 {
  font-size: 30px;
  color: black;
}
.women-content .content .rate ul {
  display: flex;
}
.women-content .content .rate ul li {
  font-size: 20px;
}
.women-content .content .price p {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.356);
  font-weight: 500;
}
.women-content .content .hidden-links {
  bottom: 0;
  left: 80px;
  position: absolute;
  transition: all 0.5s;
  opacity: 0;
  display: flex;
  gap: 20px;
}
.women-content .content .hidden-links i {
  padding: 20px;
  background-color: white;
}
.women-content .content-image:hover .hidden-links {
  bottom: 40px;
  left: 80px;
  opacity: 1;
  text-align: center;
}

#explore-section {
  padding: 90px 0;
}
#explore-section .container {
  max-width: 1140px;
  margin: auto;
  gap: 30px;
  display: grid;
  grid-template-areas: "left-text left-text leather-bag top-image" "left-text left-text bottom-image different-type";
}
#explore-section .container .text {
  grid-area: left-text;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#explore-section .container .text p {
  color: rgba(0, 0, 0, 0.534);
  font-size: 15px;
}
#explore-section .container .text button {
  max-width: 140px;
  padding: 12px 25px;
  margin-top: 35px;
  background-color: white;
}
#explore-section .container .leather-bag {
  grid-area: leather-bag;
}
#explore-section .image1 {
  grid-area: top-image;
}
#explore-section .image1 img {
  width: 100%;
  height: 100%;
}
#explore-section .image2 {
  grid-area: bottom-image;
}
#explore-section .image2 img {
  width: 100%;
  height: 100%;
}
#explore-section .different-type {
  grid-area: different-type;
}
#explore-section .different-type .random {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
#explore-section .different-type .random h3 {
  font-size: 20px;
  font-weight: 800;
  color: black;
}
#explore-section .different-type .random p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.219);
  font-weight: 800;
}/*# sourceMappingURL=main.css.map */